::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000;
}

* {
  font: 16px arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #373737;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
  background: transparent;
}

body {
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
  padding: 8px;
}

h1 {
  line-height: inherit;
  text-transform: capitalize;
  color: #070707;
  font-size: 1.5em;
}

html {
  -webkit-font-smoothing: antialiased;
}

.book-store {
  margin: 8px;
  width: 90%;
}

.error-message {
  margin: 8px auto;
  border: 1px solid #d00;
  padding: 4px;
  border-radius: 2px;
  display: none;
  width: 90%;
}

.error-message * {
  color: #900;
  display: none;
}

.error-message.error-category,
.error-message.error-title {
  display: block;
}

.error-message.error-category .category-message {
  display: block;
}

.error-message.error-title .title-message {
  display: block;
}

input.error,
select.error {
  border: 1px solid #d00;
}
