.main {
  width: 100%;
}

.nav {
  height: 95px;
  padding-left: 5%;
  background-color: #fff;
}

.divider {
  height: 2px;
  background-color: #e8e8e8;
}

.title {
  margin-right: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}
