.book_list_item {
  list-style-type: none;
  width: 90%;
  margin: 16px 5%;
}

.book_card {
  max-width: 1200px;
  min-height: 120px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 24px;
}

.book_category {
  min-height: 18px;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book_name {
  min-height: 29px;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
  margin: 8px 0;
}

.remove {
  width: 54px;
  min-height: 19px;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
}

.remove:hover {
  text-decoration: underline;
}
